$main-font: 'Montserrat', sans-serif;
$primary-color: #eff6f7;

%margins {
    margin-left: 15px;
    margin-right: 15px;    
}
body {
    background-color: $primary-color;
    font-family: $main-font;
    h5 {
        font-weight: 600 !important;
    }
}

.navbar {
    background-color : $primary-color !important; 
    ul {
        font-family: $main-font;
        font-weight: 200;
        @media (max-width: 640px) {  
            font-size: large;
        }
        @media (min-width: 641px) {  
            font-size: xx-large;
        }
    }
}

.navbar-nav li a {
    @extend %margins;
    color: #003333;
}

.container > row > col {
    padding-top: 20px;
    padding-bottom: 20px;
}

.centerImage{
    text-align:center;
    display:block;
}

.btn-warning{
    background-color: transparent;
    border-color: #bdc3c7;
  }

#icons{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;  
}